<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mars Rover API App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"/>

</head>
<body>


<div class="container">
    <h2>Welcome to the Mars Rover API Web App</h2>

    <form method="get" action="" id="frmRoverType">
        <!--  th:field pobiera dane z kontrolera -->
        <input type="hidden" th:field="${homeDto.marsApiRoverData}"/>
        <!--<input type="hidden"  id="marsApiRoverData" name="marsApiRoverData" value=""/>-->
        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="margin: 2em 0em">
            <button type="button" class="btn btn-secondary" id="marsApiCuriosity">Curiosity</button>
            <button type="button" class="btn btn-secondary" id="marsApiOpportunity">Opportunity</button>
            <button type="button" class="btn btn-secondary" id="marsApiSpirit">Spirit</button>
        </div>

        <!--Each form control requires a NAME attribute. The NAME attribute  identifies the form control and is
                 sent to the server with the value of the option(s) the user select.-->
        <!--The VALUE attribute indicates the value that is sent to the server for the selected option. The NAME
        attribute is sent to the server with the VALUE of the option the user selects. -->
        <!--The FOR attribute states which form control the label belongs to. The value of the FOR attribute
         matches that of the ID attribute on the form control it is labelling.-->
        <!--Every HTML element can carry the ID attribute. It is used to uniquely identify that element from
         other elements on the page-->


        <!--<input class="form-check-input" name="cameraModel" type="checkbox" th:id="${camera.getName()}"
               th:value="${camera.getActive()}" >-->
<!--
        <input class="form-check-input" name="defaultCheck1" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Description
        </label>-->

<!--        <input class="form-check-input" name="cameraModel" type="checkbox" th:field="*{cameras.get(__${iter.index}__).active}">-->

<!--        <input class="form-check-input" name="cameraModel" type="checkbox" th:field="*{cameras}" th:value="*{getCameras().get(__${iter.index}__).active}">-->

        <div class="row">
            <div class="form-check col-md-4 col-sm-12" th:each="camera,iter : ${homeDto.cameras}" th:object="${homeDto}">
                <input class="form-check-input" name="cameraModel" type="checkbox" th:field="*{cameras[__${iter.index}__].active}">
                <label class="form-check-label" th:for="${camera.name+'1'}" th:text="${camera.description}">
                    Description
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="marsSol" class="col-form-label-lg"> Mars Sol (aka Mars Day):</label>
            <input class="form-control form-control-lg" type="number" th:field="${homeDto.marsSol}" min="0"/>
            <!--            <input  class="form-control form-control-lg" type="number" id="marsSol" name="marsSol" min="1" value="1"/>-->
        </div>
        <div class="row">
            <div class="col-3 col-md-2">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </form>

    <!--    <img th:each="photo : ${roverData.photos}" th:src="${photo.imgSrc}">-->
    <div th:each="index : ${#numbers.sequence(0,roverData.photos.size(),4)} " class="row" style="margin-bottom: 2em">
        <div class="col-sm" th:if="${index < roverData.photos.size()}">
            <img th:src="${roverData.photos[index].imgSrc}" class="img-fluid">
        </div>
        <div class="col-sm" th:if="${index+1 < roverData.photos.size()}">
            <img th:src="${roverData.photos[index + 1].imgSrc}" class="img-fluid">
        </div>
        <div class="col-sm" th:if="${index+2 < roverData.photos.size()}">
            <img th:src="${roverData.photos[index + 2].imgSrc}" class="img-fluid">
        </div>
        <div class="col-sm" th:if="${index+3 < roverData.photos.size()}">
            <img th:src="${roverData.photos[index + 3].imgSrc}" class="img-fluid">
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>